h1 {
  margin-bottom: -8px;
  display: inline-block;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  color: #4a4e52;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  color: #4a4e52;
  margin: 0;
  padding: 0;
  line-height: 19px;
  font-family: "Patrick Hand", cursive;
}

.City {
  text-align: left;
}

.description {
  text-transform: capitalize;
}
