ul {
  text-align: left;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: 0;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 5px;
  font-family: "Handlee", cursive;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
