ul {
  text-align: left;
  font-size: 20px;
}

.weather-temperature {
  text-align: left;
}

.weather-temperature strong {
  color: ##4a4e48;
  font-size: 90px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 15px;
  font-family: "Patrick Hand", cursive;
}

.units {
  position: relative;
  font-family: "Patrick Hand", cursive;
  font-size: 16px;
  top: -50px;
  margin-left: 10px;
}
